<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="box-img-home bg-dark-pink">
        <img src="./assets/images/home/octacat-celebrating.png" class="img-fluid" alt="Responsive image">
      </div>
      <h1 class="display-4 color-dark-blue font-weight-bold">Hello, world!</h1>
      <p class="lead color-dark-blue">October has arrived! Hacktoberfest Month, you can participate contributing to this project</p>
      <hr class="my-4">
      <a class="btn bt-pink btn-lg" href="https://github.com/cTahirih/code-tidbits/blob/master/README.md" target="_blank" role="button">Learn more</a>
    </div>
  </div>
</div>
