

$roboto-bold-webfont-woff2 : './assets/fonts/roboto-bold-webfont.woff2';
$roboto-bold-webfont-woff : './assets/fonts/roboto-bold-webfont.woff';

$roboto-light-webfont-woff2 : './assets/fonts/roboto-light-webfont.woff2';
$roboto-light-webfont-woff : './assets/fonts/roboto-light-webfont.woff';

$roboto-medium-webfont-woff2 : './assets/fonts/roboto-medium-webfont.woff2'; 
$roboto-medium-webfont-woff : './assets/fonts/roboto-medium-webfont.woff'; 

$roboto-regular-webfont-woff2 : './assets/fonts/roboto-regular-webfont.woff2';
$roboto-regular-webfont-woff :'./assets/fonts/roboto-regular-webfont.woff';

$roboto-thin-webfont-woff2 : './assets/fonts/roboto-thin-webfont.woff2';
$roboto-thin-webfont-woff : './assets/fonts/roboto-thin-webfont.woff';
