<nav class="navbar navbar-blue text-center">
  <span>Code Tidbits</span>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="jumbotron col-12 text-center">
      <div class="card-box-image">
        <img src="./assets/images/home/octacat-celebrating.png" class="img-fluid" alt="Responsive image">
      </div>
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">October has arrived! Hacktoberfest Month, you can participate contributing to this project</p>
      <hr class="my-4">
      <a class="btn bt-pink btn-lg" href="https://github.com/cTahirih/code-tidbits/blob/master/README.md" target="_blank" role="button">Learn more</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-code-tidbits></app-code-tidbits>
    </div>
  </div>
</div>
